.custom-navbar {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 120px;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.custom-logo {
    height: 55px;
}

.custom-links {
    display: flex;
    gap: 60px;
}

.custom-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: #007bff;
}